.group {
  background-color: #a0d5f7;
}
#variables {
  background-color: #007bff;
  border-color: #043e7c;
}
#taxi {
  background-color: #61b2e6;
  border-color: #437da2;
}
#hpShotSuccess {
  background-color: #53a7dc;
  border-color: #387196;
}
#cargoUp {
  background-color: #28a745;
  border-color: #1d7330;
}
#cargoDrop {
  background-color: #df3434;
  border-color: #b12a2a;
}
#lowHubSuccess {
  background-color: #61b2e6;
  border-color: #437da2;
}
#lowHubFail {
  background-color: #df3434;
  border-color: #b12a2a;
}
#upperHubSuccess {
  background-color: #53a7dc;
  border-color: #387196;
}
#upperHubFail {
  background-color: #d43939;
  border-color: #b12a2a;
}
#hangarClimb1 {
  background-color: #28a745;
  border-color: #1d7330;
}
#hangarClimb2 {
  background-color: #24933e;
  border-color: #1d7330;
}
#hangarClimb3 {
  background-color: #1e7431;
  border-color: #10421b;
}
#hangarClimb4 {
  background-color: #1e7431;
  border-color: #10421b;
}
#hangarClimbFail {
  background-color: #c62f2f;
  border-color: #902525;
}
#defend {
  background-color: #b89730;
  border-color: #997d26;
}
#log {
  background-color: #ffffff;
}
