.form {
  font-size: 8vw;
  margin: 0px;
  height: 16.66%;
  width: 100%;
}
#sourceTeamNumber {
  display: inline;
  width: 75%;
}
#langSelect {
  display: inline;
  width: 25%;
}
#backButton {
  margin: 0px;
}
